# =========================
# Frontend
# =========================
node_modules/
dist/
dist-ssr/
*.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# =========================
# Backend
# =========================
venv/
.venv/
env/
__pycache__/
*.py[cod]
*.pyo

# Environment Variables
.env
.env.*

# Uploads
uploads/
backend/uploads/

# Model checkpoints (ignore only if you DON'T want to upload them)
*.h5
*.ckpt

# TensorBoard
runs/

# =========================
# VS Code / IDE
# =========================
.vscode/*
!.vscode/extensions.json
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# Windows
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?